REACT_APP_API-KEY='apiKey'
REACT_APP_AUTH-DOMAIN='authDomain'
REACT_APP_PROJECT-ID='projectId'
REACT_APP_STORAGE-BUCKET='storageBucket'
REACT_APP_MESSAGING-SENDER-ID='messagingSenderId'
REACT_APP_APP-ID='appId'

# Firebase configuration object
# const firebaseConfig = {
#   apiKey: apiKey,
#   authDomain: authDomain,
#   projectId: projectId,
#   storageBucket: storageBucket,
#   messagingSenderId: messagingSenderId,
#   appId: appId
# };