.sidebar {
  width: 18.75rem;
  min-width: 18.75rem;
  background: var(--highlight-color);
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  color: var(--secondary-color);
}
.sidebar-content {
  position: fixed;
  width: inherit;
}
.sidebar .user {
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.0625rem;
  padding: 2.5rem 1.875rem;
  border-bottom: 0.0625rem solid var(--text-color);
}
.sidebar .links {
  margin-top: 5rem;
  margin-left: 1.25rem;
}
.sidebar .links li {
  margin-top: 0.625rem;
}
.sidebar .links a {
  display: flex;
  padding: 0.625rem;
  text-decoration: none;
  width: 100%;
  color: var(--secondary-color);
  box-sizing: border-box;
}
.sidebar .links img {
  margin-right: 0.625rem;
  background-color: var(--secondary-color);
}
